<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page not found </title>
    <link rel="stylesheet" href="/public/output.css" />
</head>
<body >
    <div class="  w-full flex justify-center flex-col h-[60%]">
        <img src="/public/404.svg" class="w-[98%] my-6 h-[60%]"  alt="404">
    </div>
    <div class="flex flex-col items-center h-auto w-[98%]">
        <p class="text-3xl font-bold  mt-12">Oops page not found !!</p>
        <button class="wtbtn my-12 text-4xl  text-white"><a href="index">home page</a></button>
    </div>
   
</body>
</html>