<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Reported</title>
    <link rel="stylesheet" href="output.css" />
</head>
<body class="bg-[#0D1B2A] min-h-screen flex items-center justify-center">

    <div class="min-h-full flex items-center justify-center w-full flex-col text-white text-center p-3 font-medium gap-5 ">

    <div class="text-4xl text-white block"><h1>Thank you </h1></div>

    <p class="block my-3 text-xl">Your effort in reporting the bug is greatly appreciated. By taking the time to help us, you are contributing to making our platform better for everyone. We value your feedback and will address the issue promptly.</p>

    <a href="/index" class="bg-[#007bff] px-2 text-lg mt-4 rounded-md">Back to Home</a>

</div>
</body>
</html>