<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DD Toons</title>
    <link rel="stylesheet" href="output.css" />

</head>
<body class="flex flex-col items-center justify-center  bg-[#0D1B2A] h-auto">
    <div class="bg-[#1E2A38] w-96 h-auto rounded-lg text-white text-center p-3 font-medium gap-5 mt-10">
        <h1 class="mb-5 text-3xl">Welcome to DD Toons</h1>
        <p class=" gap-3 text-lg">Welcome to DD Toons, your ultimate destination for high-quality anime streaming. Enjoy a vast collection of anime series and movies, all in stunning HD quality. Whether you're a seasoned otaku or a newcomer to the world of anime, we have something for everyone. Sit back, relax, and immerse yourself in the captivating world of anime with DD Toons. Our platform offers a seamless streaming experience with no ads, so you can enjoy your favorite shows uninterrupted. Join our community of anime enthusiasts and explore new and exciting content every day. Happy watching! We are committed to providing the best anime experience for our users, with regular updates and new releases. Thank you for choosing DD Toons!</p>
    </div>
    <div class="bg-[#1E2A38] w-96 h-auto rounded-lg text-white text-center p-3 font-medium gap-5 mt-5">
        <h1  class="mb-5 text-3xl" >We Value Your Feedback</h1>
        <p  class=" gap-3 text-lg">We are currently in our development phase, and there may be some glitches on our platform. Your feedback is invaluable to us. Please report any issues you encounter and help us improve. Together, we can make DD Toons a better place for all anime enthusiasts. Thank you!</p>
    </div>
    <div class=" bg-[#1E2A38] w-96 h-auto rounded-lg text-white text-center p-3 font-medium gap-5 mt-5">
        <h1  class="mb-5 text-3xl" >Enjoy Seamless Streaming</h1>
        <p class=" gap-3 text-lg">At DD Toons, we provide you with a curated list of reliable websites to watch anime of your choice. Discover a variety of platforms offering high-quality content, ensuring you never miss your favorite shows. Enjoy the freedom to explore and find the perfect anime experience tailored to your preferences.</p>
    </div>
    <!-- .loginbutt:hover {
        box-shadow: 0 0 12px rgba(255, 75, 43, 0.8);
        transform: scale(1.05);
    } -->
    <a href="index" class=" bg-gradient-to-r from-[#ff416c] to-[#ff4b2b] text-white text-2xl p-3 mt-10 mb-5 hover:scale-50">Start Binging</a>
</body>
</html>