<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>WELCOME TO US</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="output.css" />
  </head>
  <body>
    <header class="sticky top-0 z-0">
      <div class="flex w-full justify-between items-center bg-black text-white h-[2rem] px-4 text-sm ">
        <% if (typeof username !== "undefined" && username) { %>
          <div class="flex justify-center text-sm items-center gap-1"><i class="fa-regular fa-user useri"></i> <%= username %></div>
        <% } else { %>
          <p  class="flex justify-center"><i class="fa-solid fa-users-slash  useri"></i></p>
        <% } %>
       <div class="navser flex justify-center w-[70%] h-[1.5rem]">
       <input placeholder="search" class="bg-[#34495E] h-[80%] w-[80%] rounded-lg px-2 text-sm" />
       <button class="flex justify-center h-[90%] mx-2 text-sm items-center"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="sociall-div  hidden">
        <button class="bg-[#E1306C]"id="insta"><i class="fa-brands fa-instagram"></i></button>
        <button class="bg-[#3B5998]" id="facebook"><i class="fa-brands fa-facebook"></i></button>
        <button class="bg-[#25D366]" id="whatsapp"><i class="fa-brands fa-whatsapp"></i></button>
      </div>
          <div class="bar flex justify-center py-1 text-lg"><i class="fa-solid fa-bars"></i></div>
      </div>
    </header>

    <div class="content flex-wrap flex justify-center img1 relative">
      <div class="bardiv hidebardiv text-white flex flex-col  items-center w-[36%] h-[100vh] z-50 fixed top-8 right-0 bg-black">
        <a href="login" class="baropt z-30 flex items-center h-[7%] ">LOGIN</a>
        <a href="w2g" class="baropt z-30 flex items-center h-[7%]">watch together <i class="fa-solid fa-wifi"></i></a>
        <a href="trending" class="baropt z-30 flex items-center h-[7%]">TRENDING</a>
        <a href="wishlist" class="baropt z-30 flex items-center h-[7%]">FAVOURITES</a>
        <button class="mdbtn baropt z-30 flex items-center h-[7%]">mode</button>
      </div>
    </div>

  <div class="flex justify-center my-8" >
    <button ><a href="index2.ejs"  class="text-xl bg-[#007bff] rounded-lg text-white px-4 py-2 my-4 cursor-pointer"  >bing more</a></button> 
  </div>
   
    <footer class="flex w-full justify-between items-center bg-black text-white h-[2rem]  text-sm">
      <a class="contactus">contact us <i class="fa-solid fa-phone"></i> </a>
      <a>copyrights <i class="fa-regular fa-copyright"></i> </a> 
      <a class="repbug" href="rep-bugs">report bugs <i class="fa-solid fa-wrench"></i> </a>
      <a>suggest content <i class="fa-regular fa-comment"></i></a>
    </footer>
    <script src="links.js"></script>
    <script src="index.js"></script>
  </body>
</html>
