<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/output.css" />
</head>

<body class="h-auto">
  <header>
    <div class="flex w-full justify-between items-center bg-black text-white h-[4rem] px-4 text-lg">

      <% if (typeof username !== "undefined" && username) { %>
        <div class="flex justify-center text-xl items-center gap-1"><i class="fa-regular fa-user useri"><i class="fa-regular fa-user useri"></i> <%= username %></div>
      <% } else { %>
        <p><i class="fa-solid fa-users-slash flex justify-center useri"></i></p>
      <% } %>

     <div class="navser flex justify-center w-[70%] h-[2.5rem]">
     <input placeholder="search" id="navserinp"  class="bg-[#34495E] h-[100%] w-[80%] rounded-xl px-4 text-4xl py-1"  />
     <button id="navserbut" class="flex justify-center h-[95%] mx-2 text-2xl items-center"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
        <div class="bar"><i class="fa-solid fa-bars"></i></div>
    </div>
  </header>

  <div class="content flex-wrap flex justify-center img1"></div>


  <div class="flex justify-center my-8" >
    <button ><a href="index"  class="text-4xl bg-[#007bff] rounded-lg text-white px-4 py-2 my-4 cursor-pointer"  >home page </a></button>
  </div>

      <footer  class="flex w-full justify-between items-center bg-black text-white h-[4rem] px-2  py-2 text-3xl">
        <a class="contactus">contact us <i class="fa-solid fa-phone"></i> </a>
        <a>copyrights <i class="fa-regular fa-copyright"></i> </a>
        <a class="repbug" href="rep-bugs">report bugs <i class="fa-solid fa-wrench"></i> </a>
        <a>suggest content <i class="fa-regular fa-comment"></i></a>
      </footer>



      <script src="links2.js"></script>
      <script src="index2.js"></script>
</body>
</html>
